@import "./index.css";
@import "./style/switch.css";
body {
  margin: 0px;
  padding: 0px;
  min-width: 100vw;
  min-height: 100vh;
}
/* HEADER */
.header-des {
    background-color: var(--color-primary);
    color: var(--color-on-primary);

}
.dark-header-des {
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);    
}

/* FOOTER */
.footer-des {
    background-color: var(--color-primary);
    color: var(--color-on-primary);

}
.dark-footer-des {
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);    
}
/* COMPONENTS */
.primary-button {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
}
.secondary-button {
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);    
}

